@media (min-width: 50em) {
  header {
    background-color: rgb(206, 18, 74);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    margin-bottom: auto;
  }
}

nav {
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 4em;
  position: static;
}

.header-div-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.header-div-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 6em;
  align-items: center;
  margin: 0;
}

h1 {
  font-size: 6.5em;
  line-height: 2em;
  color: rgb(0, 0, 0);
  align-self: center;
}

#logo {
  max-height: 8em;
  max-width: 14em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
  align-self: center;
}
#logo:hover {
  filter: drop-shadow(0 0 1em #168bacaa);
}

#search {
  width: 35px;
  margin: 0.5em;
}

i {
  font-size: 2.5em;
  align-self: center;
  color: rgb(89, 159, 192);
}

.search-input {
  border-radius: 1em;
  border: 1px solid transparent;
  width: 20em;
  height: 2em;
  align-self: center;
}

.search-button {
  background-color: transparent;
}

.nav-bar-text {
  font-size: 1.3em;
  line-height: 1.1;
  color: rgb(49, 69, 78);
  border-left: 0.3em solid rgb(113, 159, 180);
  align-self: center;
  padding: 0 0 0 2em;
  margin: 0;
}

.select-input {
  border: 0 solid transparent;
  font-size: 1.3em;
  line-height: 1.1;
  color: rgb(49, 69, 78);
  border-left: 0.3em solid rgb(113, 159, 180);
  padding: 0 0 0 2em;
  appearance: none;
  padding: 0 2em;
  outline: none;
}

.custom-select {
  position: relative;
}

.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 100%;
}

.custom-arrow::before,
.custom-arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.custom-arrow::before {
  border-left: 0.6em solid transparent;
  border-right: 0.6em solid transparent;
  border-bottom: 0.6em solid rgb(113, 159, 180);
  top: 30%;
}

.custom-arrow::after {
  border-left: 0.6em solid transparent;
  border-right: 0.6em solid transparent;
  border-top: 0.6em solid rgb(113, 159, 180);
  top: 75%;
}

.icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2em;        
  height: 2em;        
  border-radius: 50%;   
  background-color: white;
  margin: 0 0.5em;  
  ma
}

.fa-user {
  color: rgb(113, 159, 180);
  font-size: 1.2em;     
 
}
