.comments-display {
  display: flex;
  flex-direction: column;
  margin: 4em;
  gap: 2em;
  min-height: auto;
  align-items: center;
}

h3 {
  align-self: flex-start;
  margin-left: 18em;
}

.comment-card {
  background-color: rgba(235, 232, 233, 0.5);
  padding: 1em;
  margin: 1em 0 1em 0;
  padding: 2em;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  min-width: 1200px;
  max-width: 1200px;
  min-height: 350px;
  max-height: 350px;
  flex-grow: 1;
}

.comment-card-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.comments-title-text {
  font-size: 1.5em;
  margin: 0 0 1em 12em;
}

.comment-card-body {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.user-avatar {
  width: 7em;
  height: auto;
  border-radius: 6em;
  align-self: flex-start;
  justify-self: center;
  flex-grow: 1;
}

.comments-text {
  justify-content: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1em;
  flex-grow: 2;
  padding: 0 1em 0 1em;
}

.comments-text p {
  margin: 1em;
}

.comments-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5em;
  margin: 1em 0 0 2em;
  justify-content: space-around;
}

.votes-box {
  display: flex;
  gap: 2em;
  align-items: baseline;
}

.vote-heart-like {
  color: rgb(206, 18, 74);
  background-color: rgb(253, 215, 109);
  font-size: 1.2em;
}

.vote-heart-unlike {
  font-size: 1.2em;
}
